#custom_checkout {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}


#custom_checkout h4 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ddd;
}


.form-group {
    margin-bottom: 15px;
}


.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}


.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#boleta_fields,
#factura_fields,
#domicilio_fields,
#sucursal_fields {
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
}


/* Ocultar secciones por defecto */
#factura_fields,
#sucursal_fields {
    display: none;
}